.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
  background: #fdb813;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #fff inset;
  }
  100% {
    box-shadow: 48px 0 #fff inset;
  }
}

.spinner {
  display: inline-block;
  border: 3px solid #f3f3f3;
  border-top: 3px solid black;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
