.card {
  position: relative;
  width: 40%;
  color: #111822;
  padding: 1rem 2rem;
  max-width: 24rem;
  min-width: 18rem;
  border-radius: 0.6rem;
  background: rgba(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 47);
  box-shadow: 0 8px 32px 0 rgba(69, 80, 225, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  overflow: hidden;
}

.card::before {
  position: absolute;
  content: '';
  z-index: -3;
  inset: -0.3rem;
  background: linear-gradient(rgba(231, 235, 252, 0.8), rgba(188, 179, 235));
  animation: spin 6s linear infinite;
}

.card::after {
  position: absolute;
  content: '';
  inset: 0.2rem;
  z-index: -2;
  background: rgba(255, 255, 255, 1);
}

.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.font {
  font-family: 'Madimi One', sans-serif;
}

.card-heading {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  font-size: 2rem;
}

.sub-heading {
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
  margin: 1rem 2rem 0 -1.2rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 80px;
  width: 80px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 4rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.footer-content {
  text-align: left;
}

.description {
  font-size: 0.9rem;
}

.temp_wrapper {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

@media (width<=768px) {
  .card-heading {
    font-size: 1.7rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
