* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    240deg,
    rgba(231, 235, 252, 1) 30%,
    rgba(243, 252, 235, 1) 51%,
    rgba(188, 179, 235, 1) 89%
  );
  margin: 0rem;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.option-wrapper {
  position: absolute;
  z-index: 10;
  top: 2.4rem;
  border-radius: 0 0 0.4rem 0.4rem;
  width: 79.7%;
  min-width: 12rem;
  padding: 0;
  overflow-x: hidden;
  animation: expand 100ms ease-in-out;
}

.option {
  display: flex;
  gap: 0.6rem;
  font-size: 0.9rem;
  padding: 0.4rem 0.9rem;
  background-color: white;
  cursor: pointer;
  border: 0px solid #171717;
  overflow: auto;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(188, 179, 235);
  gap: 0.4rem;
  width: 20%;
  padding: 1rem;
  font-weight: 400;
  font-size: 0.85rem;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
  border: 0px;
  font-weight: 600;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.6rem;
  width: 100%;
}

.option:hover {
  background-color: rgba(188, 179, 235);
  color: white;
}

.submit-btn:hover {
  background-color: rgb(156, 141, 232);
}

@media (width<=768px) {
  .submit-btn {
    width: 30%;
  }
  .option-wrapper {
    width: 69.5%;
  }
}

@keyframes expand {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
